<div
	layout="row"
    ng-show="active == 'news'">
              
               
	<md-input-container  class="md-block" flex-gt-xs>
		<label>Tippe eine Nachricht ein</label>
		<input ng-model="createNews.message" md-maxlength="100">
	</md-input-container>
	<div>
		<md-button  ng-click="submitNews()">senden</md-button>
	 </div>
</div>
<div
   layout="row"
   ng-show="active == 'news'">
               
        
     <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="x in news | orderBy:'-time' " ng-click="null">
 

          <img ng-src="{{x.user.imageUrl}}" class="md-avatar" alt="{{x.user.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ x.user.name }}</h3> 
            <h4>{{ x.time | date :  "dd.MM.y H:mm:ss"}}</h4>
            <p>{{ x.message }}</p>
          </div>

        </md-list-item>
  	</md-list>
                 
</div>