
<div
	layout="row"
    ng-show="active == 'squad'">
    Deine Manschaft enthält {{squad.players.length}} Spieler.<br>
	Du hast noch ein Budget von {{squad.money| number: 0}} Copa Credits zur Verfügung.
</div>
<div
	layout="row"
    ng-show="active == 'squad'">
    <i class="fas fa-check" ng-if="squad.lineUp.length === 11"></i>
    <i class="fas fa-times" ng-if="squad.lineUp.length !== 11"></i>
    Du hast {{squad.lineUp.length}} Spieler aufgestellt. Deine Aufstellung ist 4-4-2
</div>
<div
	layout="row"
	ng-show="active == 'squad'">
	  <md-list flex="25">
        <md-subheader class="md-no-sticky">Tor (mindestens 1)</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="player in squad.players | filter : {position : 'Torwart'} | orderBy : '-points' "  ng-click="toggleLineUp(player)" >
          <div>
            <md-checkbox  ng-checked="linedUp(player)"  ng-click="toggleLineUp(player)" />
          </div>
          <img ng-src="{{player.imageUrl}}" class="md-avatar" alt="{{player.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ player.name }}</h3> 
            <h4>{{ player.position }}</h4>
            <p>{{ player.points}} Punkte {{ player.lastUse ? ', Letzter Einsatz : '+player.lastUse : ''}}</p>
          </div>
          
      </md-list-item>
    </md-list>
    
    <md-list flex="25">
        <md-subheader class="md-no-sticky">Abwehr (mindestens 3)</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="player in squad.players | filter : {position : 'Abwehr'} | orderBy : '-points'"  ng-click="toggleLineUp(player)" >
          <div>
            <md-checkbox  ng-checked="linedUp(player)"  ng-click="toggleLineUp(player)"  />
          </div>
          <img ng-src="{{player.imageUrl}}" class="md-avatar" alt="{{player.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ player.name }}</h3> 
            <h4>{{ player.position }}</h4>
            <p>{{ player.points}} Punkte {{ player.lastUse ? ', Letzter Einsatz : '+player.lastUse : ''}}</p>
          </div>
      </md-list-item>    
    </md-list>

    <md-list flex="25">
        <md-subheader class="md-no-sticky">Mittelfeld (mindestens 3)</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="player in squad.players | filter : {position : 'Mittelfeld'} | orderBy : '-points'"  ng-click="toggleLineUp(player)" >
            <div>
                <md-checkbox  ng-checked="linedUp(player)"  ng-click="toggleLineUp(player)" />
              </div>
          <img ng-src="{{player.imageUrl}}" class="md-avatar" alt="{{player.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ player.name }}</h3> 
            <h4>{{ player.position }}</h4>
            <p>{{ player.points}} Punkte {{ player.lastUse ? ', Letzter Einsatz : '+player.lastUse : ''}}</p>
          </div>
      </md-list-item>
    </md-list>

    <md-list flex="25">
        <md-subheader class="md-no-sticky">Sturm (mindestens 1)</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="player in squad.players | filter : {position : 'Sturm'} | orderBy : '-points'"  ng-click="toggleLineUp(player)" >
            <div>
                <md-checkbox  ng-checked="linedUp(player)"   ng-click="toggleLineUp(player)" />
              </div>
          <img ng-src="{{player.imageUrl}}" class="md-avatar" alt="{{player.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ player.name }}</h3> 
            <h4>{{ player.position }}</h4>
            <p>{{ player.points}} Punkte {{ player.lastUse ? ', Letzter Einsatz : '+player.lastUse : ''}}</p>
          </div>
		  </md-list-item>
	  </md-list>
  </div>
  
  
  
  
  
  
  
  
  
  
  