 <md-content
            layout-padding
            ng-show="active == 'error'">
            <div
               layout="row"
               layout-sm="column"
               layout-align="space-around">
               Ein Fehler ist aufgetreten :(
               <br>
               Vermutlich kannst du an die Stelle zurück, wo der Fehler passiert ist, und es einfach nochmal versuchen. 
               <br>
               Sollte es immer noch nicht gehen, schicke mir bitte folgenden Text zu:
               <br><br><br><br>
               Debug:
               <br>
               {{error}}
            </div>
         </md-content>