
<div
	layout="row"
    ng-show="active == 'angebote'">
	Du hast noch ein Budget von {{squad.money| number: 0}} Copa Credits zur Verfügung.
</div>
<div
	layout="row"
	ng-show="active == 'angebote'">
	<md-list flex>
        <md-subheader class="md-no-sticky">Du hast {{offers.length}} Angebote erhalten</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="offer in offers" ng-click="null">
          <img ng-src="{{offer.player.imageUrl}}" class="md-avatar" alt="{{offer.player.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ offer.player.name }}</h3> 
            <h4>{{ offer.player.position }}</h4>
            <p>{{ offer.player.points}} Punkte</p>
          </div>
         
		</md-list-item>
	</md-list>
</div>
<div
	layout="row"
	ng-show="active == 'angebote'">
	<md-conent flex>
        <md-subheader class="md-no-sticky">Du hast {{demands.length}} Angebote unterbreitet</md-subheader>
        
        <md-card ng-repeat="demand in demands">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{ demand.player.name }}</span>
                <span class="md-subhead">{{ demand.player.position }}</span>
                <span class="md-subhead">{{ demand.player.points}} Punkte</span>
                <span class="md-subhead">{{ demand.player.price | number: 0}} Credits</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media">
                    <img ng-src="{{demand.player.imageUrl}}" class="md-avatar" alt="{{demand.player.name}}" />
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-content>


                <md-list layout="row" layout-wrap>
                    <md-list-item class="md-3-line" flex="{{100 / (1+demand.players.length)}}">
                        <div class="md-list-item-text" layout="column">
                            <h3>gegen</h3> 
                            <p>{{ demand.price| number: 0}} Credits</p>
                            <p>{{ demand.players.length}} Spieler</p>
                            <p>{{ demand.status}} </p>
                          </div>
                    </md-list-item>
                    <md-list-item class="md-3-line" flex="{{100 / (1+demand.players.length)}}" ng-repeat="x in demand.players" layout="column"
                        layout-wrap>
                      <img ng-src="{{x.imageUrl}}" class="md-avatar" alt="{{x.name}}" />
                      <div class="md-list-item-text" layout="column">
                        <h3>{{x.name }}</h3> 
                        <h4>{{x.position }}</h4>
                        <p>{{ x.points}} Punkte</p>
                        <p>{{ x.price| number: 0}} Credits </p>
                      </div>
                    </md-list-item>
                  </md-list>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-click="changeBid(demand,$event)">Ändern</md-button>
            </md-card-actions>
          </md-card>
        
        
        
       
	</md-content>
</div>


