<html lang="en">
   <head>
   		<% include includes/nav/meta.html.ejs %>
   </head>
   <body
      ng-app="myApp"
      ng-cloak>
      <div
         ng-controller="formCtrl"
         layout="column"
         ng-cloak
         class="md-inline-form">
        		<% include includes/nav/toolbar.html.ejs %>
         	<% include includes/nav/navbar.html.ejs %>
         	<% include includes/error/error.html.ejs %>
        		<% include includes/loading/loading.html.ejs %>
         <md-content
            layout-padding>
				<% include includes/login/login.html.ejs %>
            		<% include includes/news/news.html.ejs %>
					<% include includes/profile/profile.html.ejs %>
					<% include includes/squad/squad.html.ejs %>
					<% include includes/player/player.html.ejs %>
					<% include includes/offer/offer.html.ejs %>
         </md-content>
      </div>
     
     <% include includes/nav/scripts.html.ejs %>
      <!-- Your application bootstrap  -->
      <script type="text/javascript">
         /**
          * You must include the dependency on 'ngMaterial' 
          */
         var app = angular.module('myApp', [ 'md.data.table','ngMaterial','ngMessages' ]);
		 
		 app.config(function($mdThemingProvider) {
			$mdThemingProvider.theme('default')
				.primaryPalette('purple', {
					'default': '800', // by default use shade 400 from the pink palette for primary intentions
					'hue-1': '100', // use shade 100 for the <code>md-hue-1</code> class
					'hue-2': '600', // use shade 600 for the <code>md-hue-2</code> class
					'hue-3': 'A100' // use shade A100 for the <code>md-hue-3</code> class
					})
				.accentPalette('green', {
					'default': 'A200' // use shade 200 for default, and keep all other shades the same
					})
				.dark();
			});

         app.controller('formCtrl', function($scope, $timeout, $http,$mdDialog) {
         
         	var timeout = $timeout;
         	var scope = $scope;
         	var http = $http;
			var dialog = $mdDialog;
         	var me = this;
         
         	scope.active = 'loading';
         	scope.list = [];
         	scope.user = {'id':'<%= userId %>', 'name':'<%= userName %>'};
         	
         	<% include includes/news/news.js.ejs %>
         	<% include includes/profile/profile.js.ejs %>
         	<% include includes/offer/offer.js.ejs %>
         	<% include includes/squad/squad.js.ejs %>
			<% include includes/player/player.js.ejs %>

			 
         	if(scope.user.id){
	         	$http({
	         		method : 'GET',
	         		url : '/api/currentResults',
	         		responseType : 'json'
	         	}).then(function(response) {
	         		$scope.gameday = response.data;
	         		scope.loadNews(function(){
		         		if($scope.gameday.results.length === 0){
		         			$scope.active = 'news';
		         		}else{
		         			$scope.active = 'spielstand';
		         		}
	         		});
	         	},function(error) {
	         		console.log(error);
	         	});
         	}else{
         		$scope.active = 'choose';
         	}
         });
      </script>
   </body>
</html>