<html lang="en">
   <head>
   		<% include includes/nav/meta.html.ejs %>
   </head>
   <body
      ng-app="myApp"
      ng-cloak>
      <div
         ng-controller="formCtrl"
         layout="column"
         ng-cloak
         class="md-inline-form">
        		<% include includes/nav/toolbar.html.ejs %>
         	<% include includes/nav/navbar.html.ejs %>
         	<% include includes/error/error.html.ejs %>
        		<% include includes/loading/loading.html.ejs %>
         <md-content
            layout-padding>
				<% include includes/login/login.html.ejs %>
            		<% include includes/news/news.html.ejs %>
            		<% include includes/profile/profile.html.ejs %>
         </md-content>
      </div>
     
     <% include includes/nav/scripts.html.ejs %>
      <!-- Your application bootstrap  -->
      <script type="text/javascript">
         /**
          * You must include the dependency on 'ngMaterial' 
          */
         var app = angular.module('myApp', [ 'ngMaterial' ]);
         
         app.controller('formCtrl', function($scope, $timeout, $http) {
         
         	var timeout = $timeout;
         	var scope = $scope;
         	var http = $http;
         	var me = this;
         
         	scope.active = 'loading';
         	scope.list = [];
         	scope.user = {'id':'<%= userId %>', 'name':'<%= userName %>'};
         	
         	<% include includes/news/news.js.ejs %>
         	<% include includes/profile/profile.js.ejs %>
         	
         
         	if(scope.user.id){
	         	$http({
	         		method : 'GET',
	         		url : '/api/currentResults',
	         		responseType : 'json'
	         	}).then(function(response) {
	         		$scope.gameday = response.data;
	         		scope.loadNews(function(){
		         		if($scope.gameday.results.length === 0){
		         			$scope.active = 'news';
		         		}else{
		         			$scope.active = 'spielstand';
		         		}
	         		});
	         	},function(error) {
	         		console.log(error);
	         	});
         	}else{
         		$scope.active = 'choose';
         	}
         });
      </script>
   </body>
</html>