<md-dialog id="bidDialog" >
  <md-dialog-content>
    <md-list flex>
      <md-list-item class="md-3-line" aria-label="{{dialog.parent.bidOn.player.name}}">
        <img ng-src="{{dialog.parent.bidOn.player.imageUrl}}" class="md-avatar" alt="{{dialog.parent.bidOn.player.name}}" />
         <div class="md-list-item-text" layout="column">
          <h3>{{ dialog.parent.bidOn.player.name }}</h3> 
          <h4>{{ dialog.parent.bidOn.player.position }}</h4>
          <p>{{ dialog.parent.bidOn.player.points}} Punkte </p>
        </div>
       
 
 
      </md-list-item>



<md-list-item >
    <h3>Dein Angebot an {{dialog.parent.bidOn.to.name}}</h3>
    <form name="offerForm">
      <md-input-container>
        <label>Credits</label>
        <input ng-model="dialog.parent.bidOn.price" type="number" required md-asterisk name="price" min="1"
        max="9999999">
        <div ng-messages="offerForm.price.$error">
          <div ng-message="required">Dein Gebot muss über 0 Credits liegen.</div>
          <div ng-message="min">
            Dein Gebot muss über 0 Credits liegen.
          </div>
          <div ng-message="max">
            {{offerForm.price.$viewValue | currency:"Credits":0}} ? Das is ein wenig viel.
          </div>
          </md-input-container>

          <md-input-container>
              <label>Spieler</label>
              <input ng-model="dialog.parent.bidOn.price" md-no-asterisk name="player" >


              <md-select name="type" ng-model="dialog.parent.bidOn.players" multiple>
                  <md-option ng-value="player" ng-repeat="player in players">
                      <img ng-src="{{player.imageUrl}}" class="md-avatar" alt="{{player.name}}" />
                      <div class="md-list-item-text" layout="column">
                       <h3>{{player.name }}</h3> 
                       <h4>{{player.position }}</h4>
                       <p>{{player.points}} Punkte </p>
                     </div>

                  </md-option>
                </md-select>

          </md-input-container>


          <md-button type="submit" ng-click="dialog.parent.submitBid()" class="md-primary">bieten</md-button>
      </form>
  </md-list-item>



</md-list>
  </md-dialog-content>

</md-dialog>