<md-dialog id="bidDialog" >
  <md-dialog-content>
    <md-list flex>
      <md-list-item class="md-3-line" aria-label="{{dialog.parent.bidOn.player.name}}">
        <img ng-src="{{dialog.parent.bidOn.player.imageUrl}}" class="md-avatar" alt="{{dialog.parent.bidOn.player.name}}" />
         <div class="md-list-item-text" layout="column">
          <h3>{{ dialog.parent.bidOn.player.name }}</h3> 
          <h4>{{ dialog.parent.bidOn.player.position }}</h4>
          <p>{{ dialog.parent.bidOn.player.points}} Punkte </p>
        </div>
        <div class="md-list-item-text" layout="column">
          <h3></h3> 
          <h4>{{ dialog.parent.bidOn.player.owner.name }}</h4>
          <p>{{dialog.parent.bidOn.player.price | number: 0}} Credits</p>
        </div>
 
 
      </md-list-item>


<md-list-item >
{{dialog.parent.bidOn.player.owner.name}}
</md-list-item>



</md-list>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="dialog.parent.bid()" class="md-primary">Close Dialog</md-button>
  </md-dialog-actions>
</md-dialog>