
<div
layout="row"
  ng-show="active == 'transfermarkt'">
  Der Transfermarkt enthält {{players.length}} Spieler.<br>
  Du hast noch ein Budget von {{squad.money}} Copa Credits zur Verfügung.
</div>
<div
layout="row"
ng-show="active == 'transfermarkt'">

<md-table-container>
  <table md-table md-row-select multiple >
    <thead md-head >
      <tr md-row>
        <th md-column><span></span></th>
        <th md-column md-numeric><span>Name</span></th>
        <th md-column md-numeric>Position</th>
        <th md-column md-numeric>Profile</th>
        <th md-column md-numeric>Punkte</th>
        <th md-column md-numeric>Preis</th>
        <th md-column></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row  ng-repeat="player in players">
        <td md-cell>
            <md-list flex>
                <md-list-item class="md-3-line"  ng-click="null">
                  <img ng-src="{{player.imageUrl}}" class="md-avatar" alt="{{player.name}}" />
            </md-list-item>
          </md-list>
        
        </td>
        <td md-cell>{{player.name }}</td>
        <td md-cell>{{player.position }}</td>
        <td md-cell>
          <a  target="_blank" ng-href="{{player.profileUrl}}"> Comunio</a>
        </td>
        <td md-cell>{{player.points| number: 0}}</td>
        <td md-cell>{{player.price | number: 0}}</td>
        <td md-cell>kaufen</td>
      </tr>
    </tbody>
  </table>
</md-table-container>



</div>
