
<div
layout="row"
  ng-show="active == 'transfermarkt'">
  Der Transfermarkt enthält {{players.length}} Spieler.<br>
  Du hast noch ein Budget von {{squad.money}} Copa Credits zur Verfügung.
</div>
<div
layout="row"
ng-show="active == 'transfermarkt'">
<md-list flex>
    
      <md-list-item class="md-3-line" ng-repeat="player in players">
        <img ng-src="{{player.imageUrl}}" class="md-avatar" alt="{{player.name}}" />
       
      
          <h3>{{ player.name }}</h3> 
          <h4>{{ player.position }}</h4>
          <a  target="_blank" ng-href="{{player.profileUrl}}"> Comunio Profil</a>
     
        
          <p>{{ player.points}} Punkte</p>
          <p>{{ player.price}} Credits </p>
        
       
  </md-list-item>
</md-list>
</div>
