 <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
               <h2 flex >Copa Online {{user.id ? gameday.season + ' ' + gameday.gameday +'. Spieltag' :''}}</h2>
               <div ng-hide="user.id">
                  <md-button href="/register" class=" md-primary md-raised" >
                     registrieren
                  </md-button>
               </div>
               <div  ng-show="user.id">
                  {{user.name}} , 
                  <a href="/signout">
                  logout
                  </a>
               </div>
            </div>
         </md-toolbar>
         